<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>厅长信箱-湟源县国土资源局</title>
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta name="Keywords" content="湟源县国土资源局" />
		<meta name="Description" content="湟源县国土资源局" />
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../css/column.css"/>
	</head>
	<body>
	<div class="wrap">
		<header>
			<div class="header">
				<div class="logo"><img src="../images/logo.png" alt="湟源县国土资源局" /></div>
				<div class="headBar"><a href="#" title="湟源县政府" target="_blank" >湟源县政府</a><a href="#" title="市国土局" target="_blank">市国土局</a></div>
			</div>
		</header>
	</div>
	
	<!--column-->
	<div class="column">
		<h1 class="column-tit"><span><a href="#" title="首页">首页</a> > <a href="#" title="政府信息">厅长信箱</a></span>厅长信箱</h1>
		<div class="mailbox mt20">
			<h2 class="mail-tit">欢迎来到厅长信箱！</h2>
			<div class="mail-desc">如果您对我们的机关作风、办事效率有任何意见，欢迎您提出宝贵建议！ 请您认真填写带*的必写栏目，为方便问题的解决，请尽量留下联系电话以及真实信息。 请遵守有关法律法规，倡导网络文明。</div>
			<div class="message">
				<h3>以下带 <font class="red fw">*</font> 号必填，个人资料建议填写！</h3>
				<div class="message-table">	                
	                <ul>
	                	<li>
	                		<span class="tab-tit">主 题 ：</span>
	                		<span><input type="text" name="d-zt"  placeholder="请输入主题" autocomplete="off"></span>
	                		<span class="tab-des">∗</span>
	                	</li>
	                	<li>
	                		<span class="tab-tit">内 容 ：</span>
	                		<span><textarea name="d-con"  placeholder="请输入内容"></textarea></span>
	                		<span class="tab-des">∗</span>
	                	</li>
	                </ul>
	                <h4 class="child-tit">举报人资料：</h4>
	                <ul class="message-ul">
	                	<li>
	                		<span class="tab-tit">姓 名 ：</span>
	                		<span><input type="text" name="d-name"  placeholder="请输入姓名" autocomplete="off"></span>
	                		<span class="tab-des">∗</span>
	                		<span class="tab-tit">电 话 ：</span>
	                		<span><input type="text" name="d-tel" placeholder="请输入电话" autocomplete="off"></span>
	                		<span class="tab-des">∗</span>
	                	</li>
	                	<li>
	                		<span class="tab-tit">联系地址 ：</span>
	                		<span><input type="text" name="d-addr"  placeholder="请输入联系地址" autocomplete="off"></span>
	                		<span class="tab-des">∗</span>
	                		<span class="tab-tit">邮 箱 ：</span>
	                		<span><input type="text" name="d-email"  placeholder="请输入邮箱" autocomplete="off"></span>
	                		<span class="tab-des">∗</span>
	                	</li>
	                	<li>
	                		<span class="tab-tit">身份证 ：</span>
	                		<span><input type="text" name="" id="" placeholder="请输入身份证号码" autocomplete="off"></span>
	                		<span class="tab-des"></span>
	                		<span class="tab-tit">职 业 ：</span>
	                		<span><input type="text" name="" id="" placeholder="请输入职业" autocomplete="off"></span>
	                		<span class="tab-des"></span>
	                	</li>
	                </ul>
	                <div class="table-btn">
	                	<input type="button" name="" value="发 送" class="send-btn" id="d-send"/>
	                	<input type="reset" name="" value="重 置" class="reset-btn" />
	                </div>
	          </div>
			</div>
		</div>
	</div>
	<!--./column-->
	
	<!--copy-->
	<div class="copy mt20">
		<section>
			<div class="copy-c">
				<p>主办：青海省国土资源厅 承办： <a href="#" title="青海省国土资源科技信息中心" target="青海省国土资源科技信息中心">青海省国土资源科技信息中心</a> <br>
					地址：西宁市胜利路24号    邮编：810001   建议分辨率:1024*768   建议浏览器IE，版本7.0及以上<br>
					ICP备案编号：青ICP备06000402<br>
					<p class="beian"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=63010402000177" target="_blank"><img src="../images/beianicon.png" alt="">青公网安备 63010402000177号</a></p>
					<a href="http://bszs.conac.cn/sitename?method=show&amp;id=05ED5E5254C124AAE053012819ACD6C6" target="_blank"><img src="../images/jg.png" alt="党政机关" /></a>
				</p>
			</div>
		</section>
	</div>
	<!--./copy-->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.SuperSlide.2.1.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/mess.js"></script>
	</body>
</html>
